<div class="object-details" [class.open]="isOpen">
    <div class="top">
        <div class="toolbar">
            <button (click)="closeObjectDetails()">&lt;</button>
            <p>Object Details</p>
        </div>
        <img src="https://d1pc5hp1w29h96.cloudfront.net/catalog/product/cache/b3b166914d87ce343d4dc5ec5117b502/6/V/6VY96AA-1_T1625845974.png"
            alt="object" />
        <span></span>
    </div>
    <div class="bottom">
        <h3>Mouse</h3>
        <p>Lo siento, bebé (eh, eh, eh) No trates de enamorarme o no te hago coro (eh, eh, eh) Hace tiempo que de nadie
            yo no me enamoro (yo no me enamoro) Yo estoy puesto pa uste', pa hacerlo otra ve', pero mi tiempo e'oro Yo
            por nadie me ajoro.</p>
        <div class="button-container">
            <button class="buy">Purchase</button>
            <button class="save">Save</button>
        </div>
    </div>
</div>