.object-details {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    animation: animation 200ms ease-in-out;
    animation-fill-mode: forwards;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch button {
    border-radius: 100%;
    padding: 0.5rem 1rem;
}

.switch img {
    width: 80%;
}

.top {
    background-color: #ed8e24;
    height: 60%;
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom {
    background-color: white;
    height: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom h3 {
    font-size: 2.4rem;
}

.toolbar {
    display: flex;
    align-items: center;
}

.toolbar button {
    margin-right: 3rem;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.toolbar {
    font-size: 1.8rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy {
    background-color: #ed8e24;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    width: 70%;
    color: white;
    font-weight: bold;
    text-align: center;
}

.save {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    width: 20%;
}

@keyframes animation {
    from {
        top: 100vh;
    }

    to {
        top: 0;
    }
}